body{
    background: linear-gradient(45deg, rgb(32, 2, 199), rgb(87, 4, 87));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}
.logo{
    height: 4%;
    width: 4%;
    display: flex;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: linear-gradient(45deg,  darkcyan,rgb(87, 4, 87));
}
button{
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    background: none;
    border: 3px solid rgb(34, 33, 34);
    border-radius: 20px;

    
}
h1{
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
    font-size: 60px;
    color: whitesmoke;
    -webkit-text-stroke: 5px black;
}
li{
    display: inline-block;
}
img{
    width: 100%;
    height: 600px;
    border: 5px solid black;
    border-radius: 10px; 
}
.slider{
    max-width: 1000px;
    max-height: 700px;
    position: relative;

    left: 50%;
    transform: translate(-50%);   
}
.mySlides{
    display:none;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4}
  to {opacity: 1}
}


